/Exercises/build/
/JavaApplication2/build/
/JavaApplication2/nbproject/private/
/ExerciseMania/nbproject/private/
/budgetor/nbproject/private/
/budgetor/build/
/Lombardo/nbproject/private/
/Lombardo/build/
/Polymorphism/nbproject/private/
/Polymorph/nbproject/private/
/Polymorph/build/
/interface/nbproject/private/
/Tokenizer/nbproject/private/
/Tokenizer/build/
/Ch8Exercises/nbproject/private/
/Ch8Exercises/build/
/Polymorphism-Exercises/nbproject/private/
/PolymorphExercise/nbproject/private/
/Inheritance/nbproject/private/
/Inheritance2/nbproject/private/
/Inheritance2/build/
/TimeClock/nbproject/private/
/TimeClock/build/
/TimeClockInh/nbproject/private/
/TimeClockInh/build/
/TimeClockGUI/nbproject/private/
/TimeClockGUI/build/
/MeanMedian/nbproject/private/
/MeanMedian/build/